@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    position: relative;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 30%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    align-items: center;
}

.container fieldset {
    font-weight: bolder;
    width: 100%;
    flex: 1;
    padding: 0;
    margin: 20px;
    border: solid 2px rgba(0, 0, 0, 0.4);
}

.container input {
    border: none;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    font-size: 20px;
}

.container input:focus {
    outline: none;

    transition: all 0.2s;
}

.container form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0%;
    align-items: center;
}

.container button {
    padding: 10px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    border: none;
    background: rgb(85, 123, 246);
    background: linear-gradient(45deg, rgba(85, 123, 246, 1) 0%, rgba(30, 68, 190, 1) 100%);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    transition: all 0.2S ease-in;
}

button:hover {
    transform: translateY(-10px);
    cursor: pointer;
}